<section>
  <article class="left-section">
    <h1>Xavi Serrano</h1>
    <h2 class="dark">Desarrollador</h2>
    <h2>Fullstack</h2>

    <p>Construyo aplicaciones para solucionar problemas existentes o emergentes.</p>

    <div class="links">
      <button type="button" (click)="openCV()">CV</button>
      
      <div class="email">
        <p>xserrano2001@gmail.com</p>
        <button type="button" (click)="copyEmail()">
          <fa-icon [icon]="copied ? faCheck : faCopy"></fa-icon>
        </button>
      </div>
    </div>
  </article>

  <article class="right-section">
    <img src="/assets/images/xavi.png" alt="Xavi profile pic">
  </article>
</section>
