<section>
  <article class="left-section">
    <h1>Xavi Serrano</h1>
    <h2>Desarrollador</h2>
    <h2>Fullstack</h2>

    <p>Contruyo aplicaciones para solucionar problemas existentes o emergentes.</p>

    <div class="links">
      <button>CV</button>
      
      <div class="email">
        <p>xserrano2001@gmail.com</p>
        <button>Copy</button>
      </div>
    </div>
  </article>

  <article class="right-section">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Chibi profile pic">
  
  </article>
</section>
