<div class="studies" id="estudios">
  <h3 class="reveal delay-1" appReveal>{{ 'STUDIES.TITLE' | translate }}</h3>

  <section>
    <div class="chibi-image reveal delay-2" appReveal>
      <img src="/assets/images/ghibli.png" alt="Xavi profile pic">
    </div>

    <div class="timeline">
      <div class="timeline-item reveal right delay-2" appReveal>
        <span class="dot"></span>
        <div class="content">
          <p class="grade">{{ 'STUDIES.ITEM_1.GRADE' | translate }}</p>
          <span class="date">{{ 'STUDIES.ITEM_1.DATE' | translate }}</span>
          <p>{{ 'STUDIES.ITEM_1.DESC' | translate }}</p>
        </div>
      </div>

      <div class="timeline-item reveal right delay-3" appReveal>
        <span class="dot"></span>
        <div class="content">
          <p class="grade">{{ 'STUDIES.ITEM_2.GRADE' | translate }}</p>
          <span class="date">{{ 'STUDIES.ITEM_2.DATE' | translate }}</span>
          <p>{{ 'STUDIES.ITEM_2.DESC' | translate }}</p>
        </div>
      </div>

      <div class="timeline-item reveal right delay-4" appReveal>
        <span class="dot"></span>
        <div class="content">
          <p class="grade">{{ 'STUDIES.ITEM_3.GRADE' | translate }}</p>
          <span class="date">{{ 'STUDIES.ITEM_3.DATE' | translate }}</span>
          <p>{{ 'STUDIES.ITEM_3.DESC' | translate }}</p>
        </div>
      </div>
    </div>
  </section>
</div>