<div class="studies">
  <h3>Estudios</h3>

  <section>

    <div class="chibi-image">
      <img src="/assets/images/chibi.png" alt="Xavi profile pic">
    </div>
    
    
    <div class="timeline">
      <div class="timeline-item">
        <span class="dot"></span>
        <div class="content">
          <p class="grade">Master en Desarrollo de Aplicaciones y Sitios Web</p>
          <span class="date">2024 – 2026</span>
          <p>Formación orientada al desarrollo frontend y backend, bases de datos y buenas prácticas.</p>
        </div>
      </div>
      
      <div class="timeline-item">
        <span class="dot"></span>
        <div class="content">
          <p class="grade">Grado en Administración y Dirección de Empresas</p>
          <span class="date">2019 - 2023</span>
          <p>Especialización en análisis de mercado</p>
        </div>
      </div>
      
      <div class="timeline-item">
        <span class="dot"></span>
        <div class="content">
          <p class="grade">Formación Autodidacta</p>
          <span class="date">2021 – Actualidad</span>
          <p>Aprendizaje continuo a través de documentación oficial, proyectos personales y retos técnicos.</p>
        </div>
      </div>
    </div>
  </section>


</div>
