<div class="projects" id="proyectos">
  <h3 class="reveal delay-1" appReveal>{{ 'PROJECTS.TITLE' | translate }}</h3>

  <div class="grid">
    <div class="item a reveal delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-html5-plain colored"></i> HTML</span>
          <span><i class="devicon-css3-plain colored"></i> CSS</span>
          <span><i class="devicon-javascript-plain colored"></i> JavaScript</span>
        </div>
        <h4>{{ 'PROJECTS.A.NAME' | translate }}</h4>
        <p>{{ 'PROJECTS.A.DESC' | translate }}</p>
        <div class="links">
          <a href="https://pokedex-pied-three-37.vercel.app/" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="https://github.com/XaviSerrano/Pokedex" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>

    <div class="item b reveal delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-angularjs-plain colored"></i> Angular</span>
          <span><i class="devicon-nestjs-plain colored"></i> Nest.js</span>
          <span><i class="devicon-postgresql-plain colored"></i> PostgreSQL</span>
        </div>
        <h4>{{ 'PROJECTS.B.NAME' | translate }}</h4>
        <p>{{ 'PROJECTS.B.DESC' | translate }}</p>
        <div class="links">
          <a href="https://tfm-game-tracker-e4l4m6sae-xavis-projects-379e9d0e.vercel.app/" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="https://github.com/XaviSerrano/TFM-GameTracker" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>
<!-- 
    <div class="item c reveal left delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-react-original colored"></i> React</span>
        </div>
        <h4>{{ 'PROJECTS.C.NAME' | translate }}</h4>
        <p>{{ 'PROJECTS.C.DESC' | translate }}</p>
        <div class="links">
          <a href="https://movies-project-react-nqvo6bor4-xavis-projects-379e9d0e.vercel.app/" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="https://github.com/XaviSerrano/Movies-Project-React" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div> -->

    <!-- <div class="item d reveal right delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-html5-plain colored"></i> HTML</span>
          <span><i class="devicon-css3-plain colored"></i> CSS</span>
          <span><i class="devicon-javascript-plain colored"></i> JavaScript</span>
        </div>
        <h4>{{ 'PROJECTS.D.NAME' | translate }}</h4>
        <p>{{ 'PROJECTS.D.DESC' | translate }}</p>
        <div class="links">
          <a href="#" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="#" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div> -->
  </div>
</div>