<div class="projects">

  <h3>Proyectos</h3>
  
  <div class="grid">
    <div class="item a">
      <div class="overlay"></div>
      
      <div class="content">
        <div class="tech">
          <span>html</span>
          <span>css</span>
          <span>javascript</span>
        </div>

        <h4>Buscador de Pokemons</h4>
        <p>
          Página de búsqueda de pokemons por filtros implementando la PokeAPI
        </p>
        
        <div class="links">
          <a href="https://tfm-game-tracker.vercel.app/" target="_blank">
            <fa-icon [icon]="faExternal"></fa-icon>
          </a>
          
          <a href="https://github.com/XaviSerrano/Pokedex/tree/main" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    
    <div class="item b">
      <div class="overlay"></div>
      
      <div class="content">
        <div class="tech">
          <span>Angular</span>
          <span>Nest.js</span>
          <span>PostgreSQL</span>
        </div>
        
        <h4>GameTracker</h4>
        <p>
          Plataforma de seguimiento de videojuegos colaborativa basada en intereses compartidos
        </p>
        
        <div class="links">
          <a href="https://tfm-game-tracker.vercel.app/" target="_blank">
            <fa-icon [icon]="faExternal"></fa-icon>
          </a>
          
          <a href="https://github.com/XaviSerrano/TFM-GameTracker" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    
    <div class="item c">
      <div class="overlay"></div>
      
      <div class="content">
        <div class="tech">
          <span>React</span>
        </div>
        
        <h4>Buscador de películas</h4>
        <p>
          Plataforma de búsqueda de películas
        </p>
        
        <div class="links">
          <a href="https://tfm-game-tracker.vercel.app/" target="_blank">
            <fa-icon [icon]="faExternal"></fa-icon>
          </a>
          
          <a href="https://github.com/XaviSerrano/Aplicaci-n-Pel-culas" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="item d">
      <div class="overlay"></div>
      
      <div class="content">
        <div class="tech">
          <span>html</span>
          <span>css</span>
          <span>JavaScript</span>
        </div>
        
        <h4>Calculadora</h4>
        <p>
          Calculadora para cálculos básicos
        </p>
        
        <div class="links">
          <a href="https://tfm-game-tracker.vercel.app/" target="_blank">
            <fa-icon [icon]="faExternal"></fa-icon>
          </a>
          
          <a href="https://github.com/XaviSerrano/My-calculator/tree/main" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>