<div class="projects" id="proyectos">
  <h3 class="reveal delay-1" appReveal>Proyectos</h3>

  <div class="grid">
    <!-- Proyecto A -->
    <div class="item a reveal delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-html5-plain colored"></i> HTML</span>
          <span><i class="devicon-css3-plain colored"></i> CSS</span>
          <span><i class="devicon-javascript-plain colored"></i> JavaScript</span>
        </div>
        <h4>Buscador de Pokemons</h4>
        <p>Página de búsqueda de pokemons por filtros implementando la PokeAPI</p>
        <div class="links">
          <a href="#" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="#" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>

    <!-- Proyecto B -->
    <div class="item b reveal delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-angularjs-plain colored"></i> Angular</span>
          <span><i class="devicon-nestjs-plain colored"></i> Nest.js</span>
          <span><i class="devicon-postgresql-plain colored"></i> PostgreSQL</span>
        </div>
        <h4>GameTracker</h4>
        <p>Plataforma de seguimiento de videojuegos colaborativa</p>
        <div class="links">
          <a href="#" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="#" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>

    <!-- Proyecto C -->
    <div class="item c reveal left delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-react-original colored"></i> React</span>
        </div>
        <h4>Buscador de películas</h4>
        <p>Plataforma de búsqueda de películas</p>
        <div class="links">
          <a href="#" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="#" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>

    <!-- Proyecto D -->
    <div class="item d reveal right delay-2" appReveal>
      <div class="overlay"></div>
      <div class="content">
        <div class="tech">
          <span><i class="devicon-html5-plain colored"></i> HTML</span>
          <span><i class="devicon-css3-plain colored"></i> CSS</span>
          <span><i class="devicon-javascript-plain colored"></i> JavaScript</span>
        </div>
        <h4>Calculadora</h4>
        <p>Calculadora para cálculos básicos</p>
        <div class="links">
          <a href="#" target="_blank"><fa-icon [icon]="faExternal"></fa-icon></a>
          <a href="#" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
</div>
