nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-text);
  padding: 20px;
}

.left-section,
.mid-section,
.right-section {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 20px;
  list-style: none;
}

li {
  position: relative;
}

li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: var(--light-green);
  transition: width 0.3s ease;
}

li:hover::before {
  width: 100%;
}

