<nav>
  <div class="left-section">
    <p>XAVI.DEV</p>
  </div>

  <button class="menu-toggle" (click)="menuOpen = !menuOpen">
    {{ menuOpen ? '✕' : '☰' }}
  </button>


  <div class="mid-section" [class.open]="menuOpen">
    <ul>
      <li><a (click)="scrollTo('proyectos')">Proyectos</a></li>
      <li><a (click)="scrollTo('habilidades')">Habilidades</a></li>
      <li><a (click)="scrollTo('estudios')">Estudios</a></li>
      <li><a (click)="scrollTo('sobremi')">Sobre mí</a></li>
    </ul>
  </div>

  <div class="right-section desktop-only">
    <button><a href="#contacto">Contact me</a></button>
  </div>
</nav>