nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 6rem;
  border-bottom: 1px solid var(--secondary-text);
  position: relative;
}

.left-section,
.mid-section,
.right-section {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
}

li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: var(--light-green);
  transition: width 0.3s ease;
}

li:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: var(--primary-text);
  cursor: pointer;
}


@media (max-width: 768px) {
  nav {
    padding: 1.2rem 1.5rem;
  }

  .menu-toggle {
    display: block;
  }

  .mid-section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-background);
    border-bottom: 1px solid var(--secondary-text);
    transform: translateY(-20px) scale(0.7);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
  }

  .mid-section.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .mid-section ul {
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    gap: 1.2rem;
  }

  .right-section.desktop-only {
    display: none;
  }
}

