<div class="skills" id="habilidades">
  <div class="tech-skills reveal delay-1" appReveal>
    <h3 class="reveal delay-2" appReveal>{{ 'SKILLS.TECH_TITLE' | translate }}</h3>

    <p class="frontend reveal delay-2" appReveal>{{ 'SKILLS.FRONTEND_LABEL' | translate }}</p>
    <div class="tech reveal delay-3" appReveal>
      <span><i class="devicon-javascript-plain colored"></i> JavaScript</span>
      <span><i class="devicon-typescript-plain colored"></i> TypeScript</span>
      <span><i class="devicon-sass-original colored"></i> SASS</span>
      <span><i class="devicon-angularjs-plain colored"></i> Angular</span>
    </div>

    <p class="backend reveal delay-2" appReveal>{{ 'SKILLS.BACKEND_LABEL' | translate }}</p>
    <div class="tech reveal delay-3" appReveal>
      <span><i class="devicon-python-plain colored"></i> Python</span>
      <span><i class="devicon-nodejs-plain colored"></i> Node.js</span>
      <span><i class="devicon-nestjs-plain colored"></i> Nest.js</span>
      <span><i class="devicon-postgresql-plain colored"></i> PostgreSQL</span>
      <span><i class="devicon-sqlite-plain colored"></i> SQL</span>
    </div>
  </div>

  <div class="soft-skills reveal delay-1" appReveal>
    <h3 class="reveal delay-2" appReveal>{{ 'SKILLS.SOFT_TITLE' | translate }}</h3>
    <div class="soft-skills-list">
      <div class="item a reveal delay-2" appReveal>
        <p>{{ 'SKILLS.SOFT.A_TITLE' | translate }}</p>
        <p>{{ 'SKILLS.SOFT.A_DESC' | translate }}</p>
      </div>
      <div class="item b reveal delay-2" appReveal>
        <p>{{ 'SKILLS.SOFT.B_TITLE' | translate }}</p>
        <p>{{ 'SKILLS.SOFT.B_DESC' | translate }}</p>
      </div>
      <div class="item c reveal delay-2" appReveal>
        <p>{{ 'SKILLS.SOFT.C_TITLE' | translate }}</p>
        <p>{{ 'SKILLS.SOFT.C_DESC' | translate }}</p>
      </div>
      <div class="item d reveal delay-2" appReveal>
        <p>{{ 'SKILLS.SOFT.D_TITLE' | translate }}</p>
        <p>{{ 'SKILLS.SOFT.D_DESC' | translate }}</p>
      </div>
    </div>
  </div>
</div>