<div class="skills">
  <div class="tech-skills">
    <h2>Habilidades técnicas</h2>

    <p class="frontend">FRONTEND STACK</p>
      <div class="tech">
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>SASS</span>
        <span>Angular</span>
      </div>
    
    <p class="backend">BACKEND & BBDD</p>
      <div class="tech">
        <span>Python</span>
        <span>SQL</span>
        <span>Node.js</span>
      </div>
  </div>
  
  <div class="soft-skills">
    <h2>Habilidades Blandas</h2>
      <div class="soft-skills-list">
        <div class="item a">
          <h4>Problem Solving</h4>
          <p>Afrontar problemas técnicos complejos mediante un enfoque estructurado, analítico y creativo.</p>
        </div>

        <div class="item b">
          <h4>Communication</h4>
          <p>Comunicar ideas y conceptos técnicos de forma clara tanto a perfiles técnicos como no técnicos.</p>
        </div>

        <div class="item c">
          <h4>Mentorship</h4>
          <p>Acompañar y guiar a compañeros compartiendo conocimientos, dando feedback y fomentando su crecimiento.</p>
        </div>

        <div class="item d">
          <h4>Agile mindset</h4>
          <p>Adaptarse rápidamente al cambio, fomentar la mejora continua y trabajar eficazmente en entornos ágiles.</p>
        </div>
      </div>
  </div>
</div>