:root {
  --primary-background: #0f172a;
  --primary-text: #e5e7eb;
  --secondary-text: #94a3b8;
  --light-blue: #38bdf8;
  --light-green: #4ff739;
  --dark-green: #349b26;
  /* --dark-green: #4ff73998; */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, button {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

button {
  background-color: var(--light-green);
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: var(--primary-text);
}
