:root {
  --primary-background: #0f172a;
  --primary-text: #e5e7eb;
  --secondary-text: #94a3b8;
  --light-blue: #38bdf8;
  --light-green: #4ff739;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, button {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}
